###### Editor debris ########

*.org
*~
¥#*

# spyder
.spyderproject/

# pycharm
**/.idea/

###### Python debris ########

*.pyc


###### Impl. specific debris ########

*.log

# tensorflow
*events.out.tfevents*

# waf/maf
.waf*
.lock*
**/build/
wscript*.py

###### Work routines debris ########

ILSVRC2012_img_val/
ILSVRC2012_devkit_t12/
inception-v3/
**/result
.python-version
prediction.txt
